
tech/computers/termsrv/win10-1809.dll
tech/computers/termsrv/win10-1903.dll
tech/computers/termsrv/win10.dll
*.ps1
config/config.json
tech/computers/termsrv/new.dll
tech/computers/termsrv/old.dll
tech/computers/termsrv/old_new.dll
tech/computers/termsrv/win10-1703.dll
tech/computers/termsrv/win10-1803.dll
tech/computers/termsrv/win10-1809-2.dll
.htaccess
lib/gam-64/oauth2.txt
web.config
logs/login.log
logs/login.log
config/staffemail.html
app/config/config.json
app/config/staffemail.html
app/config/config.json.bak
