
input,select{
	margin-bottom:1em;
	min-height:2.5em;
}


.alert{
	font-size:0.8em;
}
#accesslevel{
	color:black;
	
}
#siteEditorButtonsContainer{
	max-height:100em;
	
}
.copyButtonsContainer{
	width:100%;
	padding:0px;
	padding-top:1em;
	padding-bottom:1em;
}

.floatingPanel{
	width:95%;
}
.sandboxBanner{
	width:100%;	
	margin:0;
}
.videoContainer{

	
}
iframe {

margin-top:4em;

}

#container{
	
	z-index:0;
	margin-top:4em;
	font-size:1.5em;
	width:100%;
}
button{
	min-width:0px;
}
#container button{
	font-size:1em;
}
.emailGroupList td{
	padding-bottom:1em;
}
.emailGroupList input{
	border-radius:0em;
	min-height:2em;
	width:2em;
}


.emailGroupList div{
	min-height:2.5em;
	font-size:1.5em;
}

.responseContainer{
	width:100%;
		z-index:0;
	margin-top:5em;
	word-wrap: break-word;
	
}
.responseContainer button{
		font-size:1em;
}
.responseContainer input {
	font-size:1.5em;
}


.navigation{
	
	border-spacing: 0px;
	width:100%;
}
#userButton img{
	 height:90%;
	 margin-left:auto;
	 margin-right:auto;
	 display:block;
	 margin-top:-0.2em;
 }

.navigation td {
	height:5em;
	
}
.navigation button {
	border-radius:0em;
	height:5em;
	font-size:0.8em;
}
#studentDropdown{
	left:0%;
	width:100%;
}
#staffDropdown{
	left:0%;
	width:100%;
}
#parentDropdown{
	left:0%;
	width:100%;
}
#userDropdown{
	left:0%;
	width:100%;

}
#techDropdown{
	left:0%;
	width:100%;

}
.settingsList{
	font-size:0.9em;
	width:100%;
}
.settingsList TextArea{
	padding:0em;
	border-radius:0em;
	min-width:18em;

}

.subnavigation button {
	
	height:8em;
	font-size:1em;
	width:98%;
}
.subnavigationContainer{
	top:0em;
}
.subnavigation .consumer{
	height:0em;
}
.subnavigation {
	top:5.5em;
	position:fixed;
	overflow:auto;
	max-width:100% !important;
	padding-bottom:50.5em;
}
.subnavigation .spacer{
	height:5.5em;
	display:block;
}

.yogList td{
	border-bottom-style:solid;
	border-bottom-width:1px;
}
.editableEmailEntry{
	font-size:0.8em;
	max-width:98%;
}




