
#wrapper{
    width:100%;
    min-height:85%;
    z-index:0;


}
#loginPopupContainer{
    margin-left:auto;
    margin-right:auto;
}

#loginPopupContainer span{
    width:100%;
    display:block;
    color:red;
    font-size:0.6em;
}
#siteEditorButtonsContainer{
    max-height:2.97em;
    width: 100%;
    padding-right: 2%;
    overflow:hidden;
    -webkit-transition: max-height 2.0s;
    -webkit-transition-delay: 0.1s;
    -o-transition: max-height 2.0s;
    -o-transition-delay: 0.1s;
    -moz-transition: max-height 2.0s;
    -moz-transition-delay: 0.1s;
    transition: max-height 2.0s;
    transition-delay: 0s;
}



#siteEditorButtonsContainer:hover{
    -o-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    transition-delay: 1s;

    max-height:100em;
}
.usernameInput{
    max-width:50%
}

.radioList{
    max-width:10em;
    margin: 0 auto;
    text-align:left;
}

.radioList input{
    width:auto;
}

.copyButtonsContainer{
    display:table;
    margin-left:auto;
    margin-right:auto;
    min-width:320px;
    bottom:0;
    margin-top:2em;
    text-align:center;
    border-radius:0.4em;
    padding:15px;
    margin-bottom:4em;
}

.copyButtonsContainer img{
    max-width:3em;	
    margin-bottom:1em;
}

.navigation td, .subnavigation{
		    width: 20%;
	}


.clickable{
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition:  background-color 0.3s;
    cursor:pointer;
    cursor:hand;
}

.fullWidth{
    width:100%;
}

.floatingPanel{
    margin-top:1em;
    padding-top:1em;
    padding-left:0.5em;
    padding-right:0.5em;
    padding-bottom:0.5em;
    margin-right:auto;
    margin-left:auto;
    height:auto;
    width:80%;
    border-radius:0.5em;
    border-style:solid;
    border-width:2px;
    box-shadow: 5px 5px 15px #888888;
}

.videoContainer{
    width:50%;
}


li {
    margin-top:0.5em;
    margin-bottom:0.5em;	
}

.navigation_selected {

    font-weight:bold;
}
video {
    z-index:1;
    width: 100%;
    height: auto;
}

email {
    font-size:0.7em;
    font-weight:bold;
    font-style:italic;
    cursor:hand;
}

.pageLoaderContainer{
    visibility:hidden;
    position:fixed;
    width:100%;
    height:100%;
    left:0px;
    top:0px;
    z-index:2;
    text-align:center;
    vertical-align:middle;
    display: flex;               /* establish flex container */
    align-items: center; 
    background-color:black;
    background-color:rgba(0, 0, 0, 0.5);
}
.sessionTimeoutWarningContainer, .sessionTimedOutContainer, .debugConsoleContainer, .debugConfigContainer, .debugIncludeContainer{
    visibility:hidden;
    position:fixed;
    width:100%;
    height:100%;
    left:0px;
    top:0px;
    z-index:200;
    text-align:center;
    vertical-align:middle;
    display: flex;               /* establish flex container */
    align-items: center; 
    background-color:black;
    background-color:rgba(0, 0, 0, 0.5);
}

.sessionTimedOutContainer{
    z-index:201;
}
.debugConsoleContainer{
    z-index:199;
}
.debugConfigContainer{
    z-index:198;
}
.debugIncludeContainer{
    z-index:197;
}
.blur{
	-webkit-filter: blur(6px);
	-moz-filter: blur(6px);
	-o-filter: blur(6px);
	-ms-filter: blur(6px);
	filter: blur(6px);
}
.pageLoaderContainer table{
    margin:auto;
}

.loader {
    z-index:5;
    margin: 0 auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 0.75s linear infinite;
    width:150px;
    height:150px;


}

.loader60 {
    z-index:5;
    margin: 0 auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 60s linear infinite;
    width:150px;
    height:150px;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.editableEmailEntry{
    margin-right:auto;
    margin-left:auto;
    border-width:1px;
    border-style:solid;
    padding:0.5em;
    width:50%;

}

.configNavContainer{
	#position:relative;
	min-width:100%;
	border-collapse:collapse;
	margin-left:auto;
	margin-right:auto;
	#top:-1.2em;
}

.configNavButton button{
	
	border:0px;
}
.configNavButton{
	display:inline-block;
	#min-width:25%;

	#padding:0.5em;
	color:white;
	font-weight:bold;
	
}

input,select{
    width:100%;
    font-size:0.8em;
    height:1.5em;
    border-radius:0.3em;
}

button{
    -webkit-transition: 0.1s;
   # -webkit-transition-delay: 0.1s;
    -o-transition: 0.1s;
   # -o-transition-delay: 0.1s;
    -moz-transition: 0.1s;
   # -moz-transition-delay: 0.1s;

    font-family:'Roboto',sans-serif;
    cursor:pointer;
    cursor:pointer;
    min-width:90px;
}


button::-moz-focus-inner{
    border: 0;
    outline:0;
}

button:focus {
    outline:0;
}

input:focus {
    outline:0;
}
#container select, .container select{
    width:auto;
    text-align-last:center;
    text-align:center;

}

#action_button{
    margin-top:20px;
}
a, a:visited{
    text-decoration:none;
    color:#3498db;
}

#accesslevel{
    width:200px;


}
#logoutButton{
    width:50px;
}
#accesslevel button {
    font-weight:bold;

}


.runText{
    font-size:1.5em;
    text-align:center;
    color:white;
}
.sessionTimeoutWarningText{
    font-size:1.5em;
    text-align:center;
}

iframe {
    width:90%;
    height:91%;
	margin-left:auto;
	margin-right:auto;
	display:block;
    border:solid 0.075em black;
}
.responseContainer{
    width:75%;
    margin-top:4em;
    margin-left:auto;
    margin-right:auto;
    padding:15px;
    text-align:center;
    font-size:1em;
    border-radius:0.5em;
    min-width:350px;

}

.left{
    margin-left:auto;
    margin-right:auto;
    width:50%;
    text-align:left;
}
.responseContainer input{
    width:auto;
}

#container, .container{
    font-family:'Roboto',sans-serif;
    margin-top:4em;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
	z-index:0;
    font-size:1em;
    #border-radius:0.5em;
    min-width:350px;
    display:table;

}

#container button, .container button{
	border-radius:0.2em;
	
    padding:5px 10px;
}
#sessionTimeoutMessageContainer{
    font-family:'Roboto',sans-serif;
/*     margin-top:4em; */
    margin-left:auto;
    margin-right:auto;
    padding:15px;
    z-index:0;
    font-size:1em;
    border-radius:0.5em;
    min-width:350px;
}

.configMessageContainer{
    display:inline;
    font-family:'Roboto',sans-serif;
/*     margin-top:4em; */
    margin-left:auto;
    margin-right:auto;
    padding:15px;
    z-index:199;
    font-size:1em;
    border-radius:0.5em;
    min-width:350px;
    max-width:90%;
    max-height:90%;
}


.debugConsoleText, .debugConfigText, .debugIncludeText{
    max-height:75%;
    text-align:left;
    max-width:90%;
    overflow-y:scroll;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1em;
}

#container div, .container div{
    text-align:center;

}

#sessionTimeoutMessageContainer div{
    text-align:center;

}
.centered{
    margin-right:auto;
    margin-left:auto;
}
.emailGroupList{
    margin-top:1em;
    margin-bottom:1em;
    width:100%;
    border-collapse:collapse;
}

.emailGroupList td{
    /*border:1px solid #999999;*/
}
.emailGroupList input{
    width:auto;
}


.alert{
    color:red;
    font-size:0.6em;
    font-weight:bold;
}
.emailGroupList input{
    display:inline;
}
.emailGroupList div{
    display:inline;
    cursor:hand;
}
p:hover{
    font-weight:bold;
    font-stretch:ultra-condensed;
}


#disclaimer{
    position:fixed;
    bottom:0px;
    z-index:-1;
    margin-left:10%;
    margin-right:auto;
    font-size:0.8em;
    text-align:center;
    width:80%;

}
.navigation{
    table-layout: fixed;
    color:white;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index:95;
	height:2.5em;
	padding:0;
	border-collapse:collapse;
}


.navigation td {
    text-align:center;
    height:2.5em;
	padding:0px;
    
}
.navigation button{
	padding: 0px 0px 0px 0px;
    height:100%;
    width:100%;
    
    /*
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    */

}
#loggedInUser{
	padding-top:.5em;
	text-align:left;
	display:inline-block;
	#padding-top:1em;
	vertical-align:middle;
	height:100%;
	width:auto;
	    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

#userButton img{
	 margin-right:0.25em;
	 height:2em;
	 #margin-left:0.25em;
	 display:inline-block;
	 #float:left;
	 margin-top:0.5em;
 }



#userButton:hover, #studentButton:hover, #staffButton:hover, #techButton:hover, #parentButton:hover {
	font-weight:bold !important;
}
#studentDropdown,#userDropdown,#staffDropdown,#techDropdown{

	
	z-index: 99;
    /*
    -webkit-transition: visibility 0.5s;
    -o-transition: visibility 0.5s;
    -moz-transition: visibility 0.5s;
    transition: visibility 0.5s;
    */
}
#studentDropdown{
    /*	left:25%;
    width:25%;*/
    visibility:hidden;
}
#staffDropdown{
    /*	left:50%;
    width:25%;*/
    visibility:hidden;
}
#parentDropdown{
    /*	left:75%;
    width:25%;*/
    visibility:hidden;
}
#userDropdown{
    /*	left:0%;
    width:25%;*/
    visibility:hidden;

}
#techDropdown{
    /*	left:0%;
    width:25%;*/
    visibility:hidden;

}
.settingsContainer, .appSettingsContainer, .shortSettingsContainer{
	
    margin-right:auto;
    margin-left:auto;
	width:100%;
	border-collapse:collapse;
    #margin-left:10px;
    #margin-right:10px;
	#margin-bottom:0.5em;
    #min-height:450px;
    -webkit-transition: 0.5s;
    -webkit-transition-delay: 0.1s;
    -o-transition: 0.5s;
    -o-transition-delay: 0.1s;
    -moz-transition: 0.5s;
    -moz-transition-delay: 0.1s;
}

.required input{
	border-color:red;
}

.settingsList {
    margin-right:auto;
    margin-left:auto;
    width:90%;
    padding:1em;
	padding-top:0.5em;
	padding-bottom:0.5em;
	border:groove;
	border-collapse:collapse;
    #border-radius:0.5em;
    #box-shadow: 5px 5px 5px #888888;
}
.settingsList div{
	vertical-align:middle;
	display:inline-block;
	width:45%;
}

.settingsList div div{
	vertical-align:middle;
	display:inline-block;
	#width:45%;
}
.mediumSettingsContainer{
    #margin-left:70px;
	
    margin-right:auto;
    margin-left:auto;
	margin-bottom:1em;
	width:100%;
    #min-height:250px;
    -webkit-transition: 0.5s;
    -webkit-transition-delay: 0.1s;
    -o-transition: 0.5s;
    -o-transition-delay: 0.1s;
    -moz-transition: 0.5s;
    -moz-transition-delay: 0.1s;
}
.subnavigationContainer{
    position:fixed;
    width:100%;
    table-layout:fixed;
    top:0em;

    left:0px;
    visibility:hidden;


}

.subnavigationContainer td {
    vertical-align:top;


}


.subnavigation div {
    text-align:center;
    
}
#studentButton {
	
	z-index:100;
}
.settingsList h3 {
    font-size:1em;
    
}
.tableList div{
	display:block;
	width:auto;
}
.tableList div div{
	display:inline-block;
	width:45%;
}

.subnavigation button {
	border-collapse:collapse;
    margin-left:auto;
    margin-right:auto;
    height:3.5em;
    z-index:99;
    -webkit-transition: 0.0s;
    -webkit-transition-delay: 0.0s;
    -o-transition: 0.0s;
    -o-transition-delay: 0.0s;
    -moz-transition: 0.0s;
    -moz-transition-delay: 0.0s;
}
.subNavigation .spacer {
	height:0.0em;
	display:block;
}
.subnavigation {
    position:fixed;
    color:white;
	display:block;
    z-index:99;
    max-height:100%;
    overflow:visible;
    max-width:25%;
    
}

.settingsList bordrea{
    background-color:#FFFFFF;
    padding:0em;
    border-radius:0em;
    box-shadow: 0px 0px 0px #888888;
}
.settingsContainer TextArea{
	width:100%;
    background-color:#FFFFFF;
    border:bold;

}
.footer{
    color:white;
    text-align:center;
    width:100%;
}
.homepage_footer{
    margin-top:10px;
    text-align:center;
    width:100%;
}

.debugFloatingToolsContainer{
	position:fixed;	
    right:1em;
    bottom:1em;
	width:3.5em;
	-webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}
.floatingButton{
	display:inline-block;
	border-radius:1.75em;
    width:3.5em;
    height:3.5em;
    text-align:center;
    vertical-align:middle;
    -webkit-transition: box-shadow 0.25s;
    -o-transition: box-shadow 0.25s;
    -moz-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
	margin-top:0.5em;
	
}



.floatingButton img {
    display:inline;
    width: 75%;
    margin-top: 12.5%;
	margin-bottom: auto;
	
}

.floatingHelpButton{
    position:fixed;	
    left:1em;
    bottom:1em;
    border-radius:1.75em;
    width:3.5em;
    height:3.5em;
    text-align:center;
    vertical-align:middle;

    -o-transition: box-shadow 0.25s;
    -webkit-transition: box-shadow 0.25s;
    -moz-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
}
.floatingHelpButton img {

    max-height: 75%;  
    max-width: 75%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

