/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 4, 2019, 8:12:01 PM
    Author     : cjacobsen
*/

.dark-shadow{
    box-shadow: 0.1em 0.2em 1em #000;
}


.mt-8 {
  margin-top: 6rem!important;
}
.mt-md-8 {
    }

@media all and (min-width:768px) {
    .mt-md-8 {
      margin-top: 6rem!important;
    }
}
.district-nav{
   
    top:3.5rem!important;
    }




.log-nav{
    top:2.5rem!important;
}

