
.systemDebugToolBar{
    position: fixed;
    width:100%;
    
    height:10%;
    bottom:-10%;
    left:0px;
    transition: all 0.5s;
    transition-property: box-shadow, bottom, position, height;
    border: none;
    z-index: 1000;
}


.systemDebugToolBar.shown{
    
    position: absolute;
    height:auto;
    box-shadow: 0em -2em 30em #000;
}

.systemDebugToolBar .tab-content{
    height:100%;
}


#showDebugButton{
     position:relative;
     display:block;
   bottom:3em;
   
}


#showDebugButton{
    position:fixed;
    height:3em;
    bottom:0px;
    left:0px;
    min-width:100px;
    max-width: 20%
   
    
}


.systemDebugContainer{
    margin: 1.5em;
    padding:1em;
    box-shadow: 0.2em 0.4em 2em #000;
    
}
.log-tab-content{
    padding-top:1em;
}


    .appDebugToolBar button {
        box-shadow:unset;
        border:none;
    }


    .appDebugEntry {
        display:table;
        width:100%;
    }
    .appDebugEntry div{
        display:table-cell;
        padding-right: 1em;
        text-align: left;
    }
    .appDebugEntry .file{
        width:20%;
    }
    .appDebugEntry .message{
        width:80%;
    }
    .appDebugToolBar .scroll{
        max-height:100%;
        overflow-y: auto;
        overflow-x: auto;
        position:relative;
        bottom:3em;
    }

    .appDebugContainer{
        margin: 1.5em;
        padding:1em;
        box-shadow: 0.2em 0.4em 2em #000;

    }